@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #ebedf0;
}

/*CSS DOS CARDS*/

.hero {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(25deg, #6ac1c5, #bda5ff);
}

.container-professores {
  width: 100%;
  position: relative;
}

.container_cards {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

.container_cards .main-card {
  width: 200%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  flex-wrap: wrap;
}

.main-card .cards .card {
  background: #fff;
  width: calc(100% / 3 - 10px);
  padding: 30px;
  border-radius: 24px;
  transition: all 0.4s ease;
}

.main-card .cards .card:hover {
  transform: translateY(-15px);
}

.cards .card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards .card .content .img {
  height: 130px;
  width: 130px;
  margin-bottom: 14px;
  background: #0072bc;
  border-radius: 50%;
  padding: 3px;
}

.card .content .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fff;
}

.card .content .details .name_card {
  font-size: 20px;
  font-weight: 500;
}

.card .content .details .job_card {
  font-size: 20px;
  color: #0072bc;
}

.card .content .media-icons {
  display: flex;
  margin-top: 10px;
}
.card .content .media-icons a {
  height: 35px;
  width: 35px;
  color: #fff;
  background: #0072bc;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.content .media-icons a:hover {
  border-color: #0072bc;
  color: #0072bc;
  background-color: #fff;
}

.button {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.button label {
  height: 15px;
  width: 15px;
  background: #0072bc;
  margin: 0 4px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.button label.active {
  width: 35px;
}

#one:checked ~ .button label.one {
  width: 35px;
}

#two:checked ~ .button label.two {
  width: 35px;
}

#two:checked ~ .button label.one {
  width: 15px;
}

#one:checked ~ .button label.two {
  width: 15px;
}

input[type="radio"] {
  display: none;
}

@media (max-width: 768px) {
  .main-card .cards .card {
    width: calc(100% / 2 - 10px);
    margin: 20px 0 10px 0;
  }
}

@media (max-width: 600px) {
  .main-card .cards .card {
    width: 100%;
  }
}




/* CSS DOS ESTAGIOS */



.container_geral_estagios {
  width: 100%;
  position: relative;
}

.container_estagios{
  max-width: 700px;
  margin: 20px ;
}

.container_estagios .heading{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.container_estagios .accordion-wrapper{
  padding: 0 20px;
}

.container_estagios .accordion{
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container_estagios .accordion.active_accordion .accordion-heading{
   background: #0072bc;
   color: #fff;
}

.container_estagios .accordion.active_accordion .accordion-heading i{
  color: #fff;
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}

.container_estagios .accordion.active_accordion .accordion-content{
  display: block;

}


.container_estagios .accordion-heading{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  border: 1px solid #333;
  padding: 15px 20px;
}

.container_estagios .accordion-heading h3{
  font-size: 17px;
  font-weight: 400;
}
.container_estagios .accordion-content{
  padding: 15px 20px;
  border: 2px solid #333;
  font-size: 15px;
  background: #fff;
  border-top: 0;
  display: none;
  animation: animate 0.35s normal;
  line-height: 2;
  transform-origin: top;
}

@keyframes animate{
  0%{
    transform: scaleY(0);
  }
}







